# ===== Python =====
__pycache__/
*.py[cod]
*$py.class
*.so

# Distribution / Packaging
build/
dist/
*.egg-info/
*.egg

# Virtual Environments
.venv/
venv/
ENV/

# ===== IDE / Editor =====
.vscode/
.idea/
*.swp
*.swo
*~

# ===== OS =====
.DS_Store
Thumbs.db

# ===== Dataset & Logs =====
car_data.csv
user_data.csv
training_done.txt


# Windows
Thumbs.db
ehthumbs.db
Desktop.ini

# macOS
.DS_Store
._*

# ===== ML / Data Science =====
# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# ===== Misc =====
*.log
*.env
.env
